*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #efefef;
}

#gallery-heading{
    width:100%;
    padding: 50px;
    background: #efefef;
}

#heading{
    width: 100%;
    padding: 50px;
    background-color: white;
    text-align: center;
    border-radius:10px ;
    box-shadow: 3px 3px 2px 1px rgb(15, 214, 221);
}

#span-p::after{
    content: '';
    width:50px;
    height: 35px;
    background: linear-gradient(blue,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px ;
}

#span-p{
    margin: auto;
    font-size: 20px;
    color: blue;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

#heading h1{
    color: blue;
    font-weight: 800;
}

#heading H2{
    color: rgb(0, 247, 255);
    padding:10px ;
}

#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right:-250px;
    top:0;
    background: WHITE;
    z-index: 2;
    border-radius: 10px;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color:blue;
}

#menuBtn{
    width:50px;
    height: 50px;
    background: transparent;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width:50px;
    margin-top:5px;
}


@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

@media screen and (max-width:700px) {
    
       
    

    
#heading H2{
    color: rgb(7, 250, 238);
    padding:0.5em ;
    font-size: 1rem;
    text-align: center;
}

#heading{
    width: 100%;
    padding: 60px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    border-radius:10px ;
    box-shadow: 3px 3px 2px 1px rgb(15, 214, 221);
}

    
       
    
    #heading h1{
       font-size:0.8rem;
    }
}
#gallery-pics{
    width:100%;
}

#pics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    width:80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}


#pics img{
    width: 35%;
    flex-basis: 30%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px blue;
    object-fit: cover;
    }

    @media screen and (max-width:700px){
        #pics img{
            width: 80%;
            flex-basis: 100%;
        } 

        #span-p::after{
            content: '';
            width:55px;
            height: 35px;
            background: linear-gradient(blue,#fff);
            position: absolute;
            top: -20px;
            left: 0;
            z-index: -1;
            transform: rotate(10deg);
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px ;
        }
    }

    #footer{
        padding: 100px 0 20px;
        background: #efefef;
        position: relative;
    }
    
    .footer-row{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer-left, .footer-right{
        flex-basis: 45%;
        padding: 10px;
        margin-bottom: 20px;
    }
    
    .footer-right{
        text-align: right;
    }
    
    .footer-row h1{
        margin: 10px 0;
    }
    
    .footer-row p{
        line-height: 35px;
    }
    
    .footer-left .fa, .footer-right .fa{
        font-size: 20px;
        color: blue;
        margin: 10px;
    }
    
    .footer-img{
        max-width: 370px;
        opacity: 0.2;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%,-50%);
    }
    
    .social-link{
        text-align: center;
    }
    
    .social-link .fa-brands{
        height: 40px;
        width: 40px;
        font-size: 20px;
        line-height: 40px;
        border: 1px solid blue;
        margin: 40px 5px 0;
        color: blue;
        cursor: pointer;
        transition: .5s;
    }
    
    .social-link .fa:hover {
         background:blue ;
         color:#fff;
         transform: translateY(-7px);
    }
    
    .social-link p{
        font-size: 12px;
        margin-top: 20px;
    }
    
    #test-p{
        margin:auto;
        text-align: center;
        padding: 10px;
        padding-bottom: 20px !important;
        width: 70%;
        color: blue;
        font-style: italic;
    }
    
    @media screen and (max-width: 770px){
        .footer-left, .footer-right{
            flex-basis: 100%;
            font-size:14px;
        }
        .footer-img{
            top: 25%;
    
        }
    }
    
    #preloader{
        background: white url(loader.gif.gif) no-repeat center center;
        height:100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
        opacity: 1;
    }

    .title-text{
        text-align: center;
        padding-bottom: 70px;
    }
    
    .title-text p{
        margin: auto;
        font-size: 20px;
        color: blue;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
    }
    
    .title-text p::after{
        content: '';
        width:50px;
        height: 35px;
        background: linear-gradient(blue,#fff);
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
        transform: rotate(10deg);
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px ;
    }
    
    .title-text h1{
       font-size: 50px;
    }
    